@font-face {
   font-family: "Fira Sans";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/FiraSans-Bold.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/PTSans-Regular.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: italic;
   font-weight: 400;
   src: url("../fonts/PTSans-Italic.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/PTSans-Bold.woff2") format("woff2");
   font-display: swap;
}

:root {
   /* основная */
   --basic-red: #EE3643;
   --basic-red-hover: #CA2C37;
   --basic-red-click: #BA2732;
   --basic-green: #63A63E;
   --basic-green-hover: #5FBB2D;
   --basic-green-click: #518534;
   --basic-graylight: #C5C5C5;
   --basic-gray: #3D546F;
   --basic-gray-hover: #32425C; /* добавил */
   --basic-gray-click: #293449;
   --basic-background: #F1F5F7;
   --basic-background-cloud: #F5F8F9; /* добавил */
   --basic-white: #FFFFFF; /* добавил */
   --basic-dark: #000000; /* добавил */

   /* дополнительная */
   --special-yellow: #FFBF47;
   --special-blue: #3BBCE3;
   --special-lilac: #DC91D8;
   --special-greenlight: #8ED78F;
   --special-yellowlight: #FFD180;

   /* статус */
   --status-error: #BA2732; /* Basic-red-click */
   /* --status-warning = --special-yellow */
   --status-success: #5FBB2D; /* Basic-green-hover */
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

html {
   /* height: 100%; */
}

body {
   width: 1400px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   align-items: center;
   font-family: 'PT Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--basic-dark);
   background-color: var(--basic-white);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-index {
   flex-grow: 1;
}

/* сброс браузерных отступов */
h1, h2, h3, h4, h5, h6, p, ul, dl, li {
   margin: 0;
   padding: 0;
}

fieldset {
   margin: 0;
   padding: 0;
   border: none;
}

.button {
   display: inline-block;
   padding: 12px 13px;
   text-decoration: none;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: var(--basic-white);
   background-color: var(--basic-green);
   border-radius: 4px;
   border: none;
}

.button:hover,
.button:focus {
   outline: none;
   background-color: var(--basic-green-hover);
}

.button:active {
   background-color: var(--basic-green-click);
}

.title {
   font-family: 'Fira Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-transform: uppercase;
}

/* ? header */

.page-header {
   width: 100%;
   margin-bottom: 52px;
}

.page-header-top {
   background-color: #F3F7F9;
}

.page-header-top-container {
   width: 1170px;
   margin: 0 auto;
   padding: 14px 0 13px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.page-title {
   font-family: 'PT Sans', sans-serif;
   font-style: italic;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: var(--basic-red);
}

.page-header-address-box {
   display: flex;
}

.page-header-address {
   font-family: 'PT Sans',sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: var(--basic-gray-hover);
   margin-right: 32px;
}

.page-header-phone {
   font-family: 'PT Sans',sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 18px;
   letter-spacing: 2px;
   text-transform: uppercase;
   text-decoration: none;
   color: var(--basic-gray-click);
   padding-left: 24px;
   background: url('../images/icons/phone.svg') center left no-repeat;
}

.page-header-middle {
   background-color: var(--basic-gray-click);
}

.page-header-middle-container {
   width: 1170px;
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.page-header-logo {
   position: relative;
   display: inline-block;
   margin-left: -1px;
   width: 219.5px;
   text-align: center;
   padding: 12px 0 9px 0;
   color: var(--basic-white);
   background-color: var(--basic-red);
}

.page-header-logo::before {
   position: absolute;
   content: '';
   width: inherit;
   left: 0;
   bottom: -5px;
   height: 5px;
   background-color: var(--status-error);
}

.page-header-search {
   position: relative;
   margin-right: auto;
   display: flex;
   flex-grow: 1;
}

.page-header-search-input {
   font-family: 'PT Sans', sans-serif;
   font-style: normal;
   border: none;
   padding: 0 45px 0 54px;
   height: 45.4px;
   background: url('../images/icons/search.svg') center left 21px no-repeat;
   flex-grow: 1;
   
}

.page-header-search-input:focus {
   outline: none;
   color: var(--basic-graylight);   
   background-color: white;
}

.page-header-search-input::placeholder {
   font-size: 16px;
   line-height: 24px;
   color: var(--basic-white);
   padding-right: 30px;
}

.page-header-search-input:focus::placeholder {
   color: var(--basic-graylight);
}

.page-header-search-input:not(:focus)::placeholder {
   color: var(--basic-graylight);
}

.page-header-search-input:not(:placeholder-shown) {
   background-color: white;
   color: var(--basic-gray-click);
}

.page-header-search-reset {
   position: absolute;
   top: 16px;
   right: 20px;
   border: none;
   width: 15px;
   height: 15px;
   background-color: transparent;
   cursor: pointer;
   display: none;
}

.search-reset {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   fill: var(--basic-gray-hover);
}

.page-header-search-input:not(:placeholder-shown) + .page-header-search-reset {
   display: block;
}


/* ?page-header-user-list */

.page-header-user-list {
   padding-left: 17px;
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   align-items: center;
}

.page-header-user-item {
   position: relative;
   /* width: 150px; */
}

.page-header-user-link {
   color: var(--basic-background);
   text-decoration: none;
   transition: ease-out 0.15s;
}

.page-header-user-item .login,
.page-header-user-item .user-name {
   padding-left: 30px;
}

.page-header-user-item .user-name {
   margin-right: 20px;
}

.page-header-user-item .logout {
   padding-left: 21px;
   
}

.login {
   font-weight: 700;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
   text-transform: uppercase;
   /* display: none; */
}

.user-name {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   display: none;
}

.logout {
   display: none;
}

.user-icon {
   position: absolute;
   top: 2px;
   left: 0;
   color: var(--basic-white);
}

.page-header-user-link:hover,
.page-header-user-link:hover .user-icon {
   opacity: 0.7;
}

.page-header-user-link:focus,
.page-header-user-link:focus .user-icon {
   outline: none;
   fill: var(--special-lilac);
   color: var(--special-lilac);
}

.page-header-user-link:active,
.page-header-user-link:active .user-icon {
   opacity: 0.4;
}


/* ? page-header-bottom */
.page-header-bottom {
   /* height: 69px; */
   background-color: var(--basic-gray);
   display: flex;
   align-items: center;
}

.page-header-bottom-container {
   width: 1170px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.navigation-list {
   height: inherit;
   display: flex;
   flex-wrap: wrap;
   /* align-items: center; */
   list-style-type: none;
}

.navigation-item-link {
   display: inline-block;
   font-size: 16px;
   text-decoration: none;
   color: var(--basic-white);
   padding: 20px 26px 24px;
}

.navigation-item-link:hover {
   background-color: var(--basic-gray-hover);
   color: var(--basic-graylight);
}

/* !:focus {} */

.navigation-item-link:active {
   font-weight: 700;
}

.navigation-item:first-of-type .navigation-item-link {
   padding-left: 5px;
}

.navigation-item:nth-of-type(3) .navigation-item-link {
   padding-left: 24px;
}

.navigation-item:nth-of-type(5) .navigation-item-link {
   padding-left: 21px;
}

.navigation-item:nth-of-type(6) .navigation-item-link {
   padding-left: 20px;
}

.navigation-item:nth-of-type(7) .navigation-item-link {
   padding-left: 24px;
}

.order-container {
   display: flex;
   align-items: center;
   justify-content: end;
   margin-bottom: 4px;
}

.page-header-order-icon-list {
   display: flex;
   justify-content: end;
   list-style-type: none;
   align-items: center;
}

.page-header-order-icon-item {
   display: flex;
   align-items: center;
   margin-right: 22px;
}

.page-header-order-icon-item:nth-of-type(1) {
   margin-right: 25px;
}

.page-header-order-icon-link {
   text-decoration: none;
   color: var(--basic-white);
   transition: ease-out 0.15s;
   opacity: 0.6;
   display: flex;
}

.page-header-order-icon-link:hover,
.page-header-order-icon-link:focus {
   opacity: 1;
   outline: none;
}

.page-header-order-icon-link:active {
   opacity: 0.6;
}

.volume {
   display: inline-block;
   display: none;
   width: 22px;
   font-weight: 700;
   font-size: 14px;
   line-height: 18px;
   margin-left: 6px;
   margin-bottom: 3px;
   color: var(--basic-white);
}

.page-header-order-button {
   display: block;
}

/* * промо-блок */

.promo {
   width: 1170px;
   margin: 0 auto 50px;
}

.promo-list-top {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   margin-bottom: 28.5px;
}

.promo-list-right {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.promo-item {
   position: relative;
   width: calc(370px - 50px);
   height: calc(182px - 54px);
   padding: 18px 25px 33px 26px;
   border-radius: 2px;
}

.promo-list .new + .promo-item::before {
   display: block;
}

.promo-item-title {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   text-transform: uppercase;
   width: 250px;
   color: var(--basic-white);
}

.new {
   position: absolute;
   z-index: 1;
   top: 0.5px;
   right: 0;
   width: 70px;
   height: 70px;
   background: url('../images/icons/new.svg') top left no-repeat;
   display: none;
}

.on {
   display: block;
}

.promo-item-link {
   position: absolute;
   bottom: 30px;
   display: inline-block;
   padding: 12px 18px 12px 33px;
   text-decoration: none;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 2px;
   color: var(--basic-white);
   background: url('../images/icons/arrow-right.svg') center left 13px / 14px 14px no-repeat;
   box-shadow: inset 0 0 0 1.5px #F9F5F0;
   transition: ease-out 0.125s;
}

.promo-item-link:hover {
   box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 1);
}

.promo-item-link:focus {
   outline: none;
   box-shadow: inset 0 0 0 4px var(--basic-gray);
}

.promo-item-link:active {
   box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);
}

.promo-item:nth-of-type(1) {
   padding: 19px 25px 33px 26px;
   background: url('../images/icons/icon-paints.svg') center right 36px / 91px 91px no-repeat var(--special-yellow);
}

.promo-item:nth-of-type(1) .promo-item-link {
   padding: 12px 17px 11px 33px;
   bottom: 32px;
   /* letter-spacing: 1.9px; */
}

.promo-item:nth-of-type(2) {
   padding: 21px 25px 31px 25px;
   background: url('../images/icons/icon-tool.svg') center right 37px / 91px 91px  no-repeat var(--special-blue);
}

.promo-item:nth-of-type(2) .promo-item-link {
   padding: 13px 24px 10px 33px;
   bottom: 32px;
   letter-spacing: 1.9px;
}

.promo-item:nth-of-type(3) {
   padding: 21px 24px 31px 25px;
   background: url('../images/icons/icon-equipment.svg') center right 35px / 91px 91px  no-repeat var(--special-lilac);
}

.promo-item:nth-of-type(3) .promo-item-link {
   padding-bottom: 10px;
   bottom: 32px;
   /* letter-spacing: 1.9px; */
}

.promo-list-right .promo-item:nth-of-type(1) {
   padding: 19.5px 25px 32px 25px;
   background: url('../images/icons/icon-sale.svg') center right 36px / 91px 91px no-repeat var(--special-greenlight);
}

.promo-list-right .promo-item:nth-of-type(1) .promo-item-link {
   bottom: 33px;
   letter-spacing: 1.9px;
   padding: 13px 14px 10px 33px;
}

.promo-list-right .promo-item:nth-of-type(2) {
   padding: 20.5px 25px 32px 25px;
   background: url('../images/icons/icon-delivery.svg') center right 36.5px / 91px 91px no-repeat var(--special-yellow);
}

.promo-list-right .promo-item:nth-of-type(2) .promo-item-link {
   bottom: 34px;
   padding: 12px 55px 10px 33px;
   letter-spacing: 2px;
}

.slider-container {
   display: flex;
}

.slider-list {
   list-style-type: none;
   margin-right: 29px;
}

.slider-item {
   position: relative;
   width: calc(768px - 48px);
   height: calc(393px - (53px + 51px));
   padding: 50px 0 51px 52px;
   color: var(--basic-white);
}

.slider-item:nth-of-type(1) {
   background: url('../images/slider-1-1.jpg') center no-repeat;
}

.slider-item:nth-of-type(2) {
   background: url('../images/slider-2-1.jpg') center no-repeat;
   display: none;
}

.slider-item-title {
   width: 356px;
   margin-bottom: 12px;
}

.slider-item-text {
   width: 356px;
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
}

.slider-item-link {
   position: absolute;
   left: 52px;
   bottom: 48px;
   padding: 12px 23px 15px 23px;
   background-color: var(--basic-red);
}


.slider-item-link:hover {
   background-color: var(--basic-red-hover);
}

.slider-item-link:focus {
   outline: none;
   box-shadow: inset 0 0 0 2px var(--basic-white);
}

.slider-item-link:active {
   box-shadow: none;
   background-color: var(--basic-red-click);
}

.slider-pagination {
   position: absolute;
   bottom: 20px;
   left: 367px;
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
}

.slider-pagination-item:not(:last-of-type) {
   margin-right: 8px;
}

.slider-pagination-button {
   display: inline-block;
   border: none;
   width: 8px;
   height: 8px;
   border-radius: 4px;
   padding: 0;
   background-color: var(--special-yellowlight);
   opacity: 0.8;
}

.slider-pagination-button:hover,
.slider-pagination-button:focus {
   outline: none;
   opacity: 0.6;
}

.slider-pagination-button:focus {
   opacity: 0.3;
}

.slider-pagination-button-current {
   background-color: var(--basic-white);
   opacity: 1;
}

.slider-item-button {
   position: absolute;
   content: '';
   top: 173px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: none;
   cursor: pointer;
}

.prev {
   left: 20px;
   background: url('../images/icons/arrow-right.svg') center no-repeat rgba(41, 52, 73, 0.6);
   transform: rotate(180deg);
}

.next {
   right: 19px;
   background: url('../images/icons/arrow-right.svg') center no-repeat rgba(41, 52, 73, 0.6);
}

.slider-item-button:hover {
   box-shadow: inset 0 0 0 2px var(--basic-white);
}

.prev:focus {
   outline: none;
   background-color: var(--special-yellow);
}

.next:focus {
   outline: none;
   background-color: var(--special-lilac);
}

.prev:active {
   box-shadow: none;
   background-color: var(--special-greenlight);
}

.next:active {
   box-shadow: none;
   background-color: var(--special-blue);
}

/* * catalog */
.catalog {
   width: 1170px;
   margin: 0 auto;
   margin-bottom: 53px;
   display: flex;
}

.catalog-form-container {
   
}

.catalog-title {
   margin-bottom: 25px;
   margin-left: 1px;
}

.catalog-form {
   margin-right: 80px;
}

.catalog-form-price {
   margin-bottom: 38px;
}

.catalog-form-legend {
   font-family: 'PT Sans';
   font-style: normal;  
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   text-transform: uppercase;
   color: var(--basic-dark);
   margin-bottom: 10px;
   margin-left: -1px;
   
}

.range {
   padding-top: 18px;
   padding-bottom: 19px;
   width: 220px;
   border-radius: 4px;
   background-color: #F7F2EC;
   margin-bottom: 5px;
}

.range-scale {
   position: relative;
   width: 180px;
   height: 2px;
   margin: 0 auto;
   background-color: var(--basic-gray);
}

.range-bar {
   position: absolute;
   height: 2px;
   background-color: var(--basic-green-hover);
}

.range-toggle {
   position: absolute;
   top: -9.5px;
   border-radius: 50%;
   padding: 10px;
   background-color: var(--basic-white);
   box-shadow: inset 0 0 0 2px var(--basic-gray);
   border: none;
   cursor: pointer;
}

.range-toggle:hover {
   background-color: var(--basic-green-click);
}

.range-toggle:focus {
   outline: none;
   background-color: var(--special-greenlight);
   box-shadow: inset 0 0 0 6px var(--special-yellow);
}

.range-toggle:active {
   background-color: var(--basic-green-hover);
}

.toggle-max {
   right: -1.5px;
}

.range-wrapper-input {
   width: 220px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.range-input {
   padding: 0;
   font: inherit;
   background-color: #F7F2EC;
   border-radius: 4px;
   padding-top: 10px;
   padding-bottom: 12px;
   border: none;
   text-align: center;
   appearance: textfield;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
}

.range-input:focus {
   outline: none;
   box-shadow: inset 0 0 0 2px var(--basic-green-hover);
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
   appearance: none;
   margin: 0;
}

/* * checkbox */

.catalog-form-maker {
   margin-bottom: 34px;
}

.catalog-form-maker-title {
   margin-bottom: 18px;
}

.catalog-form-maker-list {
   list-style-type: none;
}

.catalog-form-maker-item:not(:last-of-type) {
   margin-bottom: 19.5px;
}

.catalog-form-maker .control {
   cursor: pointer;
   display: flex;
}

.catalog-form-maker .control-mark {
   position: relative;
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 2px;
   box-shadow: inset 0 0 0 2px var(--basic-gray);
   margin-left: 2px;
}

.v-check {
   position: absolute;
   top: 6px;
   left: 6px;
   fill: var(--basic-gray);
   display: none;
}

.catalog-form-maker .control-input:checked ~ .control-mark .v-check {
   display: block;
}

.catalog-form-maker .control-input:hover + .control-mark,
.catalog-form-maker .control-input:focus + .control-mark {
   opacity: 0.6;
}

.catalog-form-maker .control-input:active + .control-mark {
   opacity: 0.3;
}

.control-label {
   display: inline-block;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   margin-left: 15px;
   padding-right: auto;
}

/* ?radio */
.catalog-form {
   width: 220px;
}

.catalog-form-supply {
   margin-bottom: 44px;
}

.catalog-form-supply-title {
   margin-bottom: 19px;
}

.catalog-form-supply-list {
   list-style-type: none;
}

.catalog-form-supply-item:not(:last-of-type) {
   margin-bottom: 18px;
}

.catalog-form-supply .control {
   cursor: pointer;
   display: flex;
}

.catalog-form-supply .control-mark {
   position: relative;
   display: inline-block;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   box-shadow: inset 0 0 0 2px var(--basic-gray);
   margin-left: 1px;
}

.catalog-form-supply .control-input:checked ~ .control-mark::before {
   position: absolute;
   content: '';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: var(--basic-gray);
}

.catalog-form-supply .control-input:hover + .control-mark,
.catalog-form-supply .control-input:focus + .control-mark {
   opacity: 0.6;
}

.catalog-form-supply .control-input:active + .control-mark {
   opacity: 0.3;
}

.catalog-form-button {
   padding: 11px 69px 11px 69px;
   background-color: transparent;
   color: var(--basic-gray-hover);
   box-shadow: inset 0 0 0 2px var(--basic-gray);
   margin-left: 1px;
   transition: ease-out 0.15s;
}

.catalog-form-button:hover,
.catalog-form-button:focus {
   opacity: 0.6;
   background-color: transparent;
}

.catalog-form-button:active {
   opacity: 0.3;
}

/* * catalog-product-container */
.catalog-product-container {
   margin-top: 100px;
}

.catalog-select {
   display: block;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--basic-gray-click);
   background-color: transparent;
   border: none;
   border-radius: 4px;
   padding: 9px 152px 9px 12px;
   margin-bottom: 31px;
   box-shadow: inset 0 0 0 2px var(--basic-gray);
   background: url('../images/icons/arrow-down.svg') center right 13px no-repeat;
   appearance: none;
}

.catalog-select:hover {
   box-shadow: inset 0 0 0 2px var(--basic-green);
}

.catalog-select:focus {
   outline: none;
   box-shadow:
      inset 0 0 0 2px var(--special-yellow),
      inset 0 0 0 4px var(--basic-green);
}

/* * product */

.catalog-product-list {
   width: 870px;
   display: flex;
   flex-wrap: wrap;
   gap: 30px 29px;
   list-style-type: none;
   margin-bottom: 30px;
}

.catalog-product-item {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: calc(270px - 54px);
   border-radius: 2px;
   padding: 27px 27px 25px;
   box-shadow: 0 0 0 1px #EAEAEA;
   text-align: center;
   transition: ease-out 0.1s;
}

.catalog-product-item:hover {
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.catalog-popup-item-pic {
   order: 1;
   margin-bottom: 14px;
}

.catalog-product-item-name {
   order: 2;
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   color: var(--basic-gray-click);
   margin-bottom: 13px;
}

.old-price {
   order: 3;
   font-weight: 700;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
   color: #A9A9A9;
   text-transform: uppercase;
   margin-bottom: 10px;
   display: none;
}

.on {
   display: block;
}

.crossed {
   text-decoration: line-through;
}

.catalog-product-button {
   order: 4;
   position: relative;
   display: inline-block;
   width: 138px;
   height: 40px;
   border: none;
   padding: 0;
   background-color: transparent;
   margin-top: auto;
}

.product-button {
   position: absolute;
   top: 0;
   left: -1px;
   fill: var(--basic-red);
}

.product-button:hover {
   fill: var(--basic-red-hover);
}

.catalog-product-button:focus {
   outline: none;
}
.product-button:focus {
   fill: var(--basic-red-hover);
}

.product-button:active {
   fill: var(--basic-red-click);
}

.price {
   position: absolute;
   top: 11px;
   left: 29px;
   color: var(--basic-white);
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
   text-transform: uppercase;
   
}
/* * modal */
.catalog-product-item-modal {
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   width: 270px;
   height: calc(210px - 66px);
   padding-top: 66px;
   background-color: rgba(255, 255, 255, 0.85);
   display: none;
}

.catalog-product-item:hover .catalog-product-item-modal {
   display: block;
}

.catalog-modal-button {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: var(--basic-white);
   background-color: var(--basic-green);
   border-radius: 2px;
   border: none;
   margin-top: -2px;
   margin-left: 11px;
   padding: 12px 27px 10px 23px;
}

.catalog-modal-button:not(:last-of-type) {
   margin-bottom: 13px;
}

.catalog-modal-button .bin {
   width: 14px;
   height: 14px;
   margin-right: 3px;
}

.catalog-modal-button:hover,
.catalog-modal-button:focus {
   outline: none;
   background-color: var(--basic-green-hover);
}

.catalog-modal-button:active {
   background-color: var(--basic-green-click);
}

.catalog-modal-button-bookmark {
   padding: 12px 16px 10px 18px;
   color: var(--basic-gray-hover);
   background-color: var(--basic-white);
   box-shadow: inset 0 0 0 2px var(--basic-green);
}

.catalog-modal-button-bookmark:hover,
.catalog-modal-button-bookmark:focus {
   box-shadow: inset 0 0 0 2px var(--basic-gray);
   background-color: var(--basic-white);
}

.catalog-modal-button-bookmark:active {
   box-shadow: inset 0 0 0 2px var(--basic-graylight);
   color: var(--basic-graylight);
}

.catalog-product-item .new {
   top: -1px;
}

.catalog-pagination {
   display: flex;
}

.catalog-pagination-container {
   display: flex;
   margin: 0 auto;
}

.catalog-pagination-list {
   display: flex;
   list-style-type: none;
   margin-right: 17px;
}

.catalog-pagination-item:not(:last-of-type) {
   margin-right: 9px;
}

.catalog-pagination-item-link {
   display: inline-block;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 100%;
   text-transform: uppercase;
   text-decoration: none;
   color: var(--basic-white);
   background-color: var(--basic-gray);
   padding: 15px 20px 14px;
   border-radius: 2px;
}

.catalog-pagination-item-link:hover,
.catalog-pagination-item-link:focus {
   outline: none;
   opacity: 0.8;
}

.catalog-pagination-item-link:active {
   opacity: 0.5;
}

.catalog-pagination-item-link-current {
   color: var(--basic-gray);
   background-color: var(--basic-white);
}

.catalog-pagination-item-link-current:focus {
   box-shadow: inset 0 0 0 2px var(--basic-gray);
   opacity: 1;
}

.catalog-pagination-button {
   padding: 12px 36px 15px 39px;
   background-color: var(--basic-red);
   border-radius: 2px;
}

.catalog-pagination-button:hover {
   background-color: var(--basic-red-hover);
}

.catalog-pagination-button:focus {
   outline: none;
   color: var(--basic-red-hover);
   box-shadow: inset 0 0 0 2px var(--basic-red-hover);
   background-color: transparent;
}

.catalog-pagination-button:active {
   color: var(--basic-white);
   background-color: var(--basic-red-click);
}

/* * service */
.service {
   background-color: var(--basic-background-cloud);
   text-align: center;
   padding-top: 53px;
   width: 1400px;
}

.service-title {
   margin-bottom: 29px;
}

.service-text {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   color: var(--basic-gray-click);
   margin-bottom: 65px;
}

.service-list {
   width: 1170px;
   margin: 0 auto;
   padding-bottom: 51px;
   display: flex;
   gap: 30px;
   list-style-type: none;
}

.service-item {
   width: calc(370px - 52px);
   min-height: calc(382px - (166px + 43px));
   padding: 167px 28px 43px 25px;
   border-radius: 2px;
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
   text-align: left;
}

.service-item:nth-of-type(1) {
   background: url('../images/icons/icon-delivery-red.svg') top 30px left 25px no-repeat var(--basic-white);
}

.service-item:nth-of-type(2) {
   background: url('../images/icons/icon-sale-red.svg') top 30px left 25px no-repeat var(--basic-white);
}

.service-item:nth-of-type(3) {
   background: url('../images/icons/icon-paints-red.svg') top 30px left 25px no-repeat var(--basic-white);
}

.service-item-title {
   font-family: 'PT Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   text-transform: uppercase;
   margin-bottom: 21px;
}

.service-item-text {
   margin-left: 2px;
}

/* * about */
.about {
   width: 1170px;
   margin: 0 auto;
   padding: 52px 0 45px;
   background-color: var(--basic-white);
   display: flex;
   justify-content: space-between;
}

.about-container-left {
   width: 550px;
   margin-left: 2px;
}

.about-container-title {
   margin-bottom: 23px;
}

.about-text-left:not(:last-of-type) {
   margin-bottom: 26px;
}

.about-text-left:last-of-type {
   margin-bottom: 50px;
}

.about-link {
   padding: 13px 43px 15px 45px;
   background-color: var(--basic-red);
   border-radius: 2px;
}

.about-link:hover {
   background-color: var(--basic-red-hover);
}

.about-link:focus {
   outline: none;
   color: var(--basic-red-hover);
   box-shadow: inset 0 0 0 2px var(--basic-red-hover);
   background-color: transparent;
}

.about-link:active {
   color: var(--basic-white);
   background-color: var(--basic-red-click);
}

.about-text-right {
   margin-bottom: 28px;
}



/* *footer */
.page-footer {
   width: 1400px;
   background-color: var(--basic-gray-hover);
}

.page-footer-main {
   width: 1170px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding-bottom: 33px;
}

.page-footer-bottom {
   width: 1170px;
   margin: 0 auto;
}

.page-footer-logo {
   position: relative;
   display: inline-block;
   margin-left: 1px;
   width: 225px;
   text-align: center;
   padding: 15px 0px 12px 0px;
   color: var(--basic-white);
   background-color: var(--basic-red);
   margin-bottom: 25px;
}

.page-footer-logo .logo-technomart {
   transform: scaleX(108%);
   transform: scaleY(125%);
}

.page-footer-logo::before {
   position: absolute;
   content: '';
   width: inherit;
   left: 0;
   bottom: -5px;
   height: 5px;
   background-color: var(--status-error);
}

.page-footer-address {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #F3F7F9;
   margin-bottom: 2px;
}

.page-footer-phone {
   display: inline-block;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #F3F7F9;
   text-decoration: none;
   margin-bottom: 22px;
}

.footer-socials-list {
   list-style-type: none;
   display: flex;
   margin-left: 2px;
}

.footer-socials-item:not(:last-of-type) {
   margin-right: 3.5px;
}

.footer-socials-item-link {
   display: inline-block;
   width: 34px;
   height: 34px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials-item-link:hover {
   background-color: var(--basic-gray-click);
}

.footer-socials-item-link:focus {
   outline: none;
   background-color: var(--basic-gray-click);
}

.footer-socials-item-link:active {
   opacity: 0.5;
}

.pinterest {
   background: url('../images/icons/pinterest.svg') center no-repeat rgba(255, 255, 255, 0.1);;
}

.vk {
   background: url('../images/icons/vk.svg') center no-repeat rgba(255, 255, 255, 0.1);;
}

.vsco {
   background: url('../images/icons/vsco.svg') center no-repeat rgba(255, 255, 255, 0.1);;
}

.page-footer-mail-subscribe {
   text-align: right;
   padding-top: 30px;
}

.footer-feedback {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--basic-white);
   margin-bottom: 29px;
}

.footer-feedback-link {
   color: var(--special-yellowlight);
   text-decoration: none;
}

.footer-feedback-link:hover {
   color: var(--special-yellow);
   text-decoration: underline;
}

.footer-feedback-link:focus {
   outline: none;
   color: var(--special-blue);
   text-decoration: none;
}

.footer-feedback-link:active {
   opacity: 0.7;
}

.page-footer-form {
   position: relative;
}

.subscribe-container {
   display: flex;
}

.page-footer-form-label {
   display: block;
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--basic-white);
   margin-bottom: 3px;
}

.page-footer-form-input {
   border: none;
   margin: 0;
   padding: 10px 16px;
   width: 186px;
   border-radius: 2px 0 0 2px;
   box-shadow: inset 0 0 0 2px var(--basic-green);
}

.page-footer-form-input:hover,
.page-footer-form-input:focus {
   outline: none;
   box-shadow: inset 0 0 0 2px var(--basic-white);
}

.page-footer-form-input::placeholder {
   font-family: 'PT Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #BDBDBD;
}

.page-footer-form-button {
   border: none;
   display: inline-block;
   width: 40px;
   height: 40px;
   border-radius: 0 2px 2px 0;
   padding: 0;
   color: var(--basic-white);
   background-color: var(--basic-green);
}

.page-footer-form-button:hover {
   background-color: var(--basic-green-click);
}

.page-footer-form-button:focus {
   outline: none;
   background-color: var(--basic-green-hover);
}

.page-footer-form-button:active {
   background-color: var(--basic-gray);
}

.page-footer-bottom {
   width: inherit;
   color: var(--basic-white);
   background-color: var(--basic-gray-click);
   padding: 20px 0;
}

.page-footer-bottom-container {
   width: 1170px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.copyright {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
}

.made {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
}

.made-link {
   text-decoration: none;
   color: var(--special-yellowlight);
}

.made-link:hover {
   text-decoration: underline;
   color: var(--special-yellow);
}

.made-link:focus {
   outline: none;
   text-decoration: none;
   color: var(--special-yellow);
}

.made-link:active {
   color: var(--basic-red);
}